
:root{
    --dark-background: hsl(0 0 0);
    --background: hsl(0 0 10);
    --light-background: hsl(0 0 20);
    --border: hsl(0 0 25);
    --primary-text-color: hsl(0 0 95);
    --secondary-text-color: hsl(0 0 80);
    --tertiary-text-color: hsl(0 0 70);
    --primary-color: hsl(240 50% 50%);
    --secondary-color: hsl(240 50% 20%);
    --accent-color: hsl(30 50% 30%);
    --danger-color: hsl(10 100% 30%);
    --warning-color: hsl(50 70% 50%);
    --success-color: hsl(120 70% 50%);
    --info-color: hsl(270 70% 30%);
}
@media(prefers-color-scheme: light){
    :root{
        --dark-background: hsl(0 0 80%);
        --background: hsl(0 0 90%);
        --light-background: hsl(0 0 100%);
        --border: hsl(0 0 25);
        --primary-text-color: hsl(0 0 5%);
        --secondary-text-color: hsl(0 0 10%);
        --tertiary-text-color: hsl(0 0 30%);
        --primary-color: hsl(240 50% 50%);
        --secondary-color: hsl(240 50% 20%);
        --accent-color: hsl(30 50% 30%);
        --danger-color: hsl(10 100% 30%);
        --warning-color: hsl(50 70% 50%);
        --success-color: hsl(120 70% 50%);
        --info-color: hsl(270 70% 30%);
    }
}
body{
    background-color: var(--background);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

main{
    margin-top: 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 10px;
    gap: 1em;
}

.test{
    height: 100px;
    width: 100px;
    background-color: #000;
    color: white;
    font-size: 2rem;
    text-align: center;
    align-content: center;
}

/* color */
#bg-dark{
    background-color: var(--dark-background);
}
#bg{
    background-color: var(--background);
}
#bg-light{
    background-color: var(--light-background);
}
#border{
    background-color: var(--border);
}
#primaryText{
    background-color: var(--primary-text-color);
}
#secondaryText{
    background-color: var(--secondary-text-color);
}
#tertiaryText{
    background-color: var(--tertiary-text-color);
}
#primaryColor{
    background-color: var(--primary-color);
}
#secondaryColor{
    background-color: var(--secondary-color);
}
#accentColor{
    background-color: var(--accent-color);
}
#danger{
    background-color: var(--danger-color);
}
#warning{
    background-color: var(--warning-color);
}
#success{
    background-color: var(--success-color);
}
#info{
    background-color: var(--info-color);
}

/* Typography */
h1{
    color: var(--primary-text-color);
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Josefin-sans', sans-serif;
}
h2{
    color: var(--primary-text-color);
    font-size: 1.4rem;
    font-weight: 700;
    font-family: 'Josefine-sans', sans-serif;
}
h3{
    color: var(--secondary-text-color);
    font-size: 1.15rem;
    font-family: 'Nunito', arial;
}
p{
    color: var(--tertiary-text-color);
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Nunito', arial;
}
.label-text{
    color: var(--success-color);
    font-size: .7rem;
    letter-spacing: 2px;
    font-family: sans-serif;
}

.slider-active{
    height: 20px;
    width: 20px;
}
.switch-btn{
    width: 100%;
    height: 100px;
    background-color: black;
}
.container{
    width: 50px;
    height: 20px;
    background-color: goldenrod;
    border-radius: 20px;
    display: flex;

    transition: background-color 1000ms ease-out;
}
.container::before {
    inset: 0;
    opacity: 0;
    background: linear-gradient(to right, blue, red);
    backdrop-filter: blur(5px);

    transition: opacity 1000ms 0.3s ease;
}
.container:hover::before{
    opacity: 1;
}
.slider{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 10px;

    transition: transform 500ms ease-out;
}
/*.slider-active:checked + .container{
    background-color: red;
}*/
.slider-active:checked + .container .slider {
    transform: translateX(30px);
}